<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Author link</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.author }}</td>
        <td>{{ article.authorLink }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>